
<div class="l-style-guide s-text">
    <h1>Prakash Baskaran</h1>
    <div class="l-section">
        <h2>Highlights</h2>
        <p>
            <ul>
                <li>10+ years of Full Stack development experience</li>
                <li>Ionic development for companies like Pfizer, AT&T and IoT startups</li>
                <li>Developed Ionic based starter apps to expedite development and hosted the same in my own website
                        http://codekart.com.
                </li>
                <li>Experience with cloud based APIs like Firebase, AWS, Google APIs</li>
                <li>Experience in Messaging, Admin, Analytics, Social, etc.</li>
                <li>Previous experience in Enterprise based networking apps as well as E-commerce companies</li>
                <li>Full time employee experience with companies like Myntra (www.myntra.com), British Telecom and Subex</li>        
            </ul>
        </p>
    </div>

    <div class="l-section">
        <h2>Ionic/Angular Experience</h2>
        <p>
            <ul>
                <li>More than 5+ years of experience in development with Ionic and Angular</li>
                <li>Developed critical and complex features like data monitoring with bluetooth devices and chat messaging</li>
                <li>Worked on Google Map based visualisation based on geo coordinates</li>
                <li>Worked on almost all basic features like social logins, native plugins, push notifications, Offline store like
                        PouchDB and SQLite, camera, ads, etc.</li>
                <li>Based on rich experience in Ionic, have started my own website to sell Ionic based starter apps created by
                        me. The details can be found at http://codekart.com</li>
            </ul>
        </p>
    </div>

    <div class="l-section">
        <h2>Recent Project Details</h2>
        <div class="flex-table">
            <div class="flex-table-row">
                <div class="flex-table-col flex-50">
                    Product: 
                </div>
                <div class="flex-table-col flex-50">http://lauretta.io</div>
            </div>
            <div class="flex-table-row">
                    <div class="flex-table-col flex-50">
                        Language/Frameworks:
                    </div>
                    <div class="flex-table-col flex-50">Ionic, Angular, NodeJS, MongoDB</div>
            </div>
            <div class="flex-table-row">
                    <div class="flex-table-col flex-100">
                            <p>Description:</p>
                            <p>
                                A real time system for Retail Industry to capture data from IoT devices to raise productivity, improve sales and
                                motivate staff.
                            </p>
                    </div>
            </div>
            <div class="flex-table-row">
                    <div class="flex-table-col flex-100">
                        <p>Contribution/Achievement:</p>
                        <ol>
                            <li>
                                Full stack development with Ionic and MEAN stack
                            </li>
                            <li>
                                Ionic App development to interface with IoT device like beacons using Bluetooth.     
                            </li>
                            <li>
                                Ionic App Chat Messaging Feature for users of the app     
                            </li>
                            <li>
                                Ionic App Task Management and along with Google like calendar interface on Dashboard for users of the app
                            </li>    
                            <li>
                                Dashboard Map based visualisation for real time tracking of movement of staff
                            </li>
                            <li>
                                Full Admin Dashboard
                            </li>
                        </ol>
                    </div>
            </div>
                
    </div>

    <div class="l-section">
        <h2>Education</h2>
        <div class="flex-table">
            <div class="flex-table-row">
                <div class="flex-table-col flex-50">
                        BTech (Computer Science)
                </div>
                <div class="flex-table-col flex-50">
                        
                    National Institute of Technology, Calicut, Kerala, India
                        
                </div>
            </div>
            
        </div>
    </div>



    <p></p>
    <p></p>
    <p></p>
</div>